*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
    color:#333;
}

header{
    background:#7B1E1E;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

.logo{
    font-size:32px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:18px;
}

.botao{
    background:white;
    color:#7B1E1E;
    padding:12px 20px;
    border-radius:8px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:white;
}

.hero h1{
    font-size:48px;
    color:#7B1E1E;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#666;
    margin-bottom:40px;
}

.btn{
    background:#C9A227;
    color:#222;
    text-decoration:none;
    padding:18px 40px;
    border-radius:10px;
    font-weight:bold;
    font-size:20px;
}

.como{
    padding:80px 30px;
    text-align:center;
}

.como h2{
    font-size:36px;
    margin-bottom:50px;
    color:#7B1E1E;
}

.passos{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.passo{
    width:300px;
    background:white;
    padding:40px;
    border-radius:12px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.passo{
    font-size:55px;
}

.passo h3{
    font-size:24px;
    margin:20px 0;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:80px;
}
